
{% extends 'home_base.html' %}
{% load static %}


{% block storage_content %}


  <div class="row">
    <div class="col-lg-12">
      <p style="text-align: center;">You could also go to this section of project:</p>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6">
     <a href="{% url 'home' %}" class="btn btn-primary btn-block">Home</a>
    </div>

    <div class="col-lg-6">
     <a href="#" class="btn btn-primary btn-block">Signal processing</a>
    </div>

  </div>
  <hr>

  <div class="row" style="item-align: center;">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <a href="{% url 'storage-main' %}" class="btn btn-outline-secondary btn-block btn-sm">Back to Storage Management Panel</a>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <br>

  <div class="signal-storage-form" style="text-align: center;">
    <h1>Uploaded Signals:</h1>
  </div>


  {% for signal in signals %}
    <div class="row">
      <h1>{{ signal.name }}</h1>
      <hr>
    </div>
    <div class="row">
      <h6>{{ signal.adnotations }}</h6>
    </div>
    <div class="row">
      <button data-id="{{ signal.id }}" onclick='delteSignal(this)' class="btn btn-danger">Delete</button>
    </div>
    <hr>
  {% endfor %}



  <script src="{% static 'js\storage.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    var csrf_token = '{{ csrf_token }}'
  </script>

{% endblock %}
