{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css\style.css' %}" />
    <title>Signal Analysis App</title>
  </head>

  <body>

    {% block content %}

    {% endblock %}


    <div class="container">
      <hr>
      <div class="row">
        <div class="col-lg-1">
          <img id="footer_logo" src="https://www.agh.edu.pl/fileadmin/default/templates/images/uczelnia/siw/znak/znak_pozytyw/agh_znk_pzt_rgb_150ppi.jpg">
        </div>
        <div class="col-lg-11">
          <h6>Author: Michał Kukiełka</h6>
          <h6>Thesis Supervisor: dr hab. inż. Joanna Iwaniec</h6>
          <h6>2018</h6>
        </div>
      </div>
    </div>

  </body>
</html>
s
