{% extends 'base.html' %}

{% block content %}

  <div class="container">

    <br>

    <div class="row" style="text-align: center;">

      <div class="col-lg-12">
        <h1>Signal Analysis Application</h1>

        {% if request.user.is_authenticated %}

        <span>Hello, {{ request.user.username }}!</span>
        <a href="{% url 'logout' %}">You can logout here</a>
        {% endif %}

        <hr>
      </div>

    </div>

      {% block storage_content %}

      {% endblock %}

  </div>

{% endblock %}
