{% extends 'base.html' %}
{% block content %}

  <div class="container" style="text-align: center;">
    <div>
      <br>
      <h1>Sign Up</h1>
      <hr>
      <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        {{ form.username }}

        <label>Password:</label>
        {{ form.password1 }}

        <label>Re-Password:</label>
        {{ form.password2 }}

        <label>Captcha:</label><br>
        {{ form.captcha }}

        <hr>
        <button type="submit" class="btn btn-outline-primary">SignUp</button>

      </form>
    </div>
  </div>

{% endblock %}
